/* CSS */

.navbar {
      margin-bottom: 0;
      border-radius: 0;
      font-size: 17px;
      font-family: 'Open Sans';
      background-color: #282828;
}

/*Ρυθμίσεις για τα link του menu*/

.navbar a{
    border-bottom: 2px solid transparent;/*η γραμμούλα κάτω από τα links */
    /*height: 48px; /* το ύψος των links...για να μη χαλάει το hover στο resizing */
}

.navbar a:hover{
    border-bottom: 2px solid #00539f;
}

.navbar a.active{
    border-bottom: 2px solid #00539f;
}

/*Ρυθμίσεις για το search button*/

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px; /* πόσο απέχει όλο το div του search bar από την κορυφή */
  font-size: 17px;
  border: none;
}

/*Ρυθμίσεις για το εικονίδιο του search button*/

.navbar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;/*για να γίνεται χεράκι με το hover*/
   
}

.navbar button:hover {
  background: #ccc;
}


/*Ρυθμίσεις για τα social buttons*/

.color-github{
    color:#00aced;
    padding: 2% 4% 2% 4%;
}
.color-linkedin{
    color:#0176b5;
    padding: 2% 4% 2% 4%;
}
.color-twitter{
    color:#00539f;
    padding: 2% 4% 2% 4%;
}

/* Τα tooltips για τα social buttons */
#tooltip1{
    color: white;
}

#tooltip1:hover{
    text-decoration: none;
}

#tooltip2{
    color: white;
}

#tooltip2:hover{
    text-decoration: none;
}

#tooltip3{
    color: white;
}

#tooltip3:hover{
    text-decoration: none;
}


/* Jumbotron */

.jumbotron{
    background:url(Images/jumbotron.jpg) no-repeat 50% 0;
    height: 350px;
    padding: 0; 
    margin-top: 75px; /* πόσο απέχει(περιθώριο) το jumbotron από το navbar */
    padding-top: 30px; /* απόσταση γραμμής μέσα στο jumbotron από το σημείου που ξεκινάει το jumbotron*/
}

.jumbotron [class*="col-"] {
    padding-top:15px; /* απόσταση του κειμένου μέσα στο jumbotron από το σημείου που ξεκινάει το jumbotron*/
    /*padding-bottom: 155px;*/
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba (86,61,124,.2);
    overflow: auto;
    height: 320px;
}

.jumbotron-content{
    color: black;
    font-family: 'Cormorant Garamond';
    font-size: 44px;
    border-bottom: #0176b5 solid 2px;
    padding-bottom: 10px;
}



/* Skillset section */


 #heading_1 h3 {
    height: 60px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 45px;
    font-family: 'Open Sans';
}

#par p {
    height: 60px;
    text-align: center;
    /*margin-bottom: 30px;*/
    font-size: 20px;
    font-family: 'Cormorant Garamond';
    letter-spacing: 3px; /* αραιά γράμματα */
}


/*Using flexbox to display in the center!!!...Before the Flexbox Layout module, there were four layout modes:
    Block, for sections in a webpage
    Inline, for text
    Table, for two-dimensional table data
    Positioned, for explicit position of an element
 */

.fa-caret-down{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 1vh; /* how much height you want to cover */
     margin-bottom: 30px;
     margin-top: -10px;
     font-size: 45px;
     color: black;
     opacity: 0.6;
     cursor: pointer;
}




/*  Skills-boxes */

#boxes{
    background: #F0F0F0;
    flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 400px;
}

#boxes .box{
    background: #F0F0F0; 
    overflow: visible;
    color: black;
    padding: 0 10px; 
    margin-top: 80px;
    font-size: 120%;
}

/* Κεντράρισμα headings του skill section */
#skill_headings {
  /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
}

/* Κεντράρισμα παραγράφων του skill section */
#skill_par{
    /*text-align: center; /*αντί αυτού χρησιμοποιώ flexbox για κεντράρισμα */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    color: #808080;
}

/* Font awesome icons του skill section */
.fa-code{
    /*display: block; /* για responsive κεντράρισμα */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    font-size: 75px;
    color: #00539f;
    opacity: 0.6;
}

.fa-css3 {
    /*display: block;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    font-size: 75px;
    color: #00539f;
    opacity: 0.6;
}

.fa-desktop {
    /*display: block;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-size: 75px;
    color: #00539f;
    opacity: 0.6;
}


/* Footer */
#myFooter {
    background-color: #282828;
	color:#ccc;
    font-family: 'Open Sans';
}

/* Η περιοχή με το copyright */
#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 2.3;
}

/* Οι τίτλοι Get Started κλπ.. */
#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

/* Όλα τα links στο footer(εκτός των social) */
#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 1.0s;
}

/* Το hover στα links του footer(εκτός των social) */
#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
    border-bottom: 2px solid #00539f;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #0176b5;
    padding: 10px;
    transition: 1.0s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .linkedin:hover{
	color:#0077e2;
}

#myFooter .twitter:hover{
	color:#0077e2;
}

#myFooter .github:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}

/* Τα εικονίδια του useful info */
.fa-fw {
    width: 2em;
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


html{
	height: 100% !important;
}

/* Also for sticky footer */
body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;/* display project at column */
    -webkit-flex-direction: column;
    height: 100%;
}

/* να ψάξω τι είναι το flex */
/*.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
    background: #F0F0F0;
}*/


/* Sticky footer */
#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

/* About page */



/* Ο τίτλος My Projects στην about page */
#about_h h3 {
    height: 60px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 95px;
    font-size: 45px;
    font-family: 'Cormorant Garamond';
}

/* Slideshow Gallery - τα εικονίδια previous και next */



/* About me section - about page */
#about_me {
    background: #F0F0F0;
    margin-top: 50px;
    /*position:   relative; */
    /* flexbox is not really neccesary */
    display: flex;
    flex: 1 0 auto;
	-webkit-flex: 1 0 auto; /* specifications for chrome*/
    -moz-flex: 1 0 auto; /* specifications for firefox*/
	min-height: 300px;
}

/* Μορφοποίηση του heading About me */
#heading_about h3{
    margin-top: 60px;
    margin-left: 110px;
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: italic;
    letter-spacing: 3px;
    /* flexbox is not really necessary */
    display: flex;
    justify-content: flex-start;
    -webkit-flex: 1 0 auto; /* specifications for chrome*/
    -moz-flex: 1 0 auto; /* specifications for firefox*/
}

/* Μορφοποίηση της φωτο μου */
.img-custom {
    margin-top: 25px;
    margin-bottom: 100px;
    margin-left: 80px;
    border-radius: 20%;
    width: 230px; /* ορίζω συγκεκριμένο πλάτος στη φωτό */
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    -webkit-flex: 1 0 auto; /* specifications for chrome*/
    -moz-flex: 1 0 auto; /* specifications for firefox*/
}

/* Hover effect για τη φωτο */
.img-custom:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* Photo disappears in devices less than 362px */
@media screen and (max-width: 328px){
	.img-custom {
        display: none;	}
}



/* Η παράγραφος για εμένα */
#paragraph_about p {
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 100px; 
    text-align: justify; 
    font-family: 'Open Sans';
    font-size: 20px;
    letter-spacing:2px;
    line-height: 1.8; /* το κενό μεταξύ των γραμμών της παραγράφου */
    /* flexbox is not really necessary */
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    -webkit-flex: 1 0 auto; /* specifications for chrome*/
    -moz-flex: 1 0 auto; /* specifications for firefox*/
}

/* Contact Page */

/* Το Get In Touch */
#contact h3 {
    height: 60px;
    /*text-align: center; αντί αυτού χρησιμοποιώ το flexbox για κεντράρισμα */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 125px;
    font-size: 50px;
    font-family: 'Cormorant Garamond';
}

#contact p {
    font-size: 25px;
    font-family: 'Cormorant Garamond';
    color: #777;
    text-align: center;/* είναι και σωστά κεντραρισμένη η δεύτερη γραμμή της paragraph */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Το font awesome icon δίπλα απ' το Get In Touch */
.fa-fw-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    color: #0176b5;
    font-size: 40px;
}

/* Η φόρμα */
.my_form {
  padding-top: 50px;
  font-size: 20px;
  font-family: 'Open Sans';
  position:   relative; 
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

/* Το κείμενο με τα required πεδία */
.text-muted {
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 16px;
}

/* για responsive κεντράρισμα του send button*/
.btn-primary {
    display: block; 
    margin: 0 auto; 
}

textarea#form_message.form-control {

}

/* Preloader */
.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('Images/bolt.gif');
   background-repeat: no-repeat; 
   background-color: white;
   background-position: center;
    -webkit-transition: all .5s .5s ease;
    -moz-transition: all .5s .5s ease;
    transition: all .5s .2s ease;
}

/* Return to top arrow */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear; /* chrome support */
    -moz-transition: all 0.3s ease; /* firefox support */
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; /* opera support */
    transition: all 0.3s ease;
    z-index: 100; /* to avoid overlapping of elements */
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
